<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comic.client_comics">

    <application>
        <activity
            android:name=".screen.splash.SplashActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".screen.app.AppActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>

