<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comic.comic_app">

    <application>
        <activity
            android:name="com.comic.screen_marvel.screen.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
